finaltutorials/Best in Flow - Flow Definitions/best_in_flow_ktalbert_impala_spark_performance.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"2ab5bd10-80c1-4a74-9182-7a7b4072f91e","version":0,"timestamp":1683557661187,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","instanceIdentifier":null,"name":"kevin_spark_performance","comments":null,"position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b49474e2-1bae-459e-baba-79a37676031a","instanceIdentifier":null,"name":"ConvertRecord","comments":"","position":{"x":747.1496269695656,"y":-107.58723356099404},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"record-writer":"e1c94dd5-5edb-48bd-a867-6217fb59f8bf","record-reader":"2007b14c-6020-4f7f-af60-577e971fe7ef","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"83de0e28-4f21-4256-a443-4650e03df337","instanceIdentifier":null,"name":"PutDatabaseRecord","comments":"","position":{"x":464.03828890388377,"y":1891.1559104547564},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"kevin_talbert_bofa_com_db","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Generic","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"spark_results_table","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"8afaa045-d48f-45a1-8cfe-da5a5d2c174b","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"5e0db886-97aa-4564-88be-a2df6d5235a7","instanceIdentifier":null,"name":"Impala App Data (Invoke HTTP)","comments":"","position":{"x":-241.97715016872144,"y":-281.9392132904759},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Basic Authentication Password":null,"cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{IMPALA URL}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","invokehttp-proxy-password":null,"ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"86400 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Failure"],"scheduledState":"ENABLED","retryCount":1,"retriedRelationships":["Original"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"20c59425-bc17-4116-b6e7-c0d3d389160a","instanceIdentifier":null,"name":"MaxRequiredCPU","comments":"","position":{"x":-246.62332981375823,"y":2108.5521600444017},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"e1c94dd5-5edb-48bd-a867-6217fb59f8bf","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT MAX(allocated_vcore_seconds) AS 'max_req_cpu' FROM `kevin_talbert_bofa_com_db`.spark_metrics_bulk;","esqlrecord-normalize":"true"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"86400 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"40757415-8b3b-41a0-ba54-4efe457b3634","instanceIdentifier":null,"name":"MaxRequiredCPU","comments":"","position":{"x":-241.4716531701922,"y":1317.046471265166},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"e1c94dd5-5edb-48bd-a867-6217fb59f8bf","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT MAX(reqd_parallelism_cpu) AS 'max_req_cpu' FROM `kevin_talbert_bofa_com_db`.impala_metrics_bulk;","esqlrecord-normalize":"true"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"86400 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"30d3b6eb-422e-41c6-8f2b-bae2fcd5afcb","instanceIdentifier":null,"name":"Spark WriteToIceberg","comments":"","position":{"x":158.83332912584297,"y":80.82808649968365},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"maximum-file-size":null,"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","file-format":"PARQUET","catalog-service":"026a8689-e39e-4e93-a144-f07300d44016","record-reader":"8afaa045-d48f-45a1-8cfe-da5a5d2c174b","table-name":"spark_metrics_bulk","kerberos-user-service":"5997fcfd-bd8e-422e-a36e-e78bde01c9d2","minimum-commit-wait-time":"100 ms","catalog-namespace":"#{Hive Catalog Namespace}"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"960d54fd-98d3-48c0-9dd6-dca2f581a09f","instanceIdentifier":null,"name":"MaxRequiredMemory","comments":"","position":{"x":-245.5337780626844,"y":1893.3814794025816},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"e1c94dd5-5edb-48bd-a867-6217fb59f8bf","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT CAST(MAX(allocated_memory_seconds) AS Int) AS 'max_req_memory' FROM `kevin_talbert_bofa_com_db`.spark_metrics_bulk;","esqlrecord-normalize":"true"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"86400 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"15654238-12ce-4355-a5b1-d76611469449","instanceIdentifier":null,"name":"Impala Records Result","comments":"","position":{"x":-248.06690827129648,"y":2439.350528861519},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"f4e78387-134c-4262-9e1e-62335efaba5e","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM \n(SELECT DISTINCT total_queries AS 'total_queries' FROM `kevin_talbert_bofa_com_db`.impala_results_table WHERE total_queries IS NOT NULL) as w, \n(SELECT DISTINCT total_query_time AS 'total_query_time' FROM `kevin_talbert_bofa_com_db`.impala_results_table WHERE total_query_time IS NOT NULL) as x,\n(SELECT DISTINCT max_req_cpu AS 'max_req_cpu' FROM `kevin_talbert_bofa_com_db`.impala_results_table WHERE max_req_cpu IS NOT NULL) as y,\n(SELECT DISTINCT max_req_memory AS 'max_req_memory' FROM `kevin_talbert_bofa_com_db`.impala_results_table WHERE max_req_memory IS NOT NULL) as z;","esqlrecord-normalize":"true"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"86400 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"c398c670-1d72-4503-9e7f-b5614e68a841","instanceIdentifier":null,"name":"Spark App Data (Invoke HTTP)","comments":"","position":{"x":157.06827762964667,"y":-281.2076571576238},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Basic Authentication Password":null,"cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{SPARK URL}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","invokehttp-proxy-password":null,"ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"86400 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Failure"],"scheduledState":"ENABLED","retryCount":1,"retriedRelationships":["Original"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"3969ca25-9a62-49fd-bc76-d85324e1a3ef","instanceIdentifier":null,"name":"Spark Records Result","comments":"","position":{"x":-249.21719371664148,"y":2668.1218324358924},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"f4e78387-134c-4262-9e1e-62335efaba5e","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM \n(SELECT DISTINCT total_queries AS 'total_queries' FROM `kevin_talbert_bofa_com_db`.spark_results_table WHERE total_queries IS NOT NULL) as x,\n(SELECT DISTINCT max_req_cpu AS 'max_req_cpu' FROM `kevin_talbert_bofa_com_db`.spark_results_table WHERE max_req_cpu IS NOT NULL) as y,\n(SELECT DISTINCT max_req_memory AS 'max_req_memory' FROM `kevin_talbert_bofa_com_db`.spark_results_table WHERE max_req_memory IS NOT NULL) as z;","esqlrecord-normalize":"true"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"86400 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"40010389-5428-4019-8883-080af47c6e5c","instanceIdentifier":null,"name":"SQL Error Logging","comments":"","position":{"x":2579.356870832981,"y":1600.9587272927147},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"6c1e1661-bd01-460c-8f46-7bfeefc102c6","instanceIdentifier":null,"name":"TotalQueryTime","comments":"","position":{"x":-239.94483190651158,"y":904.9624767599241},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"e1c94dd5-5edb-48bd-a867-6217fb59f8bf","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT SUM(duration_millis) AS 'total_query_time' FROM `kevin_talbert_bofa_com_db`.impala_metrics_bulk;","esqlrecord-normalize":"true"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"86400 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"7a6539ba-b0f8-486d-8891-91f9e33f86fb","instanceIdentifier":null,"name":"Import Error Logging","comments":"","position":{"x":-34.494936359974986,"y":430.93820180638113},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"b88c369b-d271-454b-bc8b-9830e7d64516","instanceIdentifier":null,"name":"PutDatabaseRecord","comments":"","position":{"x":452.1936932749122,"y":1000.1643354964517},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"kevin_talbert_bofa_com_db","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Generic","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"impala_results_table","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"8afaa045-d48f-45a1-8cfe-da5a5d2c174b","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"027f5450-aaf4-411f-975b-9200c8e71a68","instanceIdentifier":null,"name":"Impala WriteToIceberg","comments":"","position":{"x":-244.1131591796875,"y":80.10021591186523},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"maximum-file-size":null,"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","file-format":"PARQUET","catalog-service":"026a8689-e39e-4e93-a144-f07300d44016","record-reader":"2007b14c-6020-4f7f-af60-577e971fe7ef","table-name":"impala_metrics_bulk","kerberos-user-service":"5997fcfd-bd8e-422e-a36e-e78bde01c9d2","minimum-commit-wait-time":"100 ms","catalog-namespace":"#{Hive Catalog Namespace}"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"75662170-2236-4329-8ca9-3d12cc6d25d6","instanceIdentifier":null,"name":"InferAvroSchema","comments":"","position":{"x":-1128.5604858398438,"y":537.143627166748},"type":"org.apache.nifi.processors.kite.InferAvroSchema","bundle":{"group":"org.apache.nifi","artifact":"nifi-kite-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Schema Output Destination":"flowfile-content","Get CSV Header Definition From Data":"true","Avro Record Name":"impala","Charset":"UTF-8","CSV Header Line Skip Count":"0","CSV delimiter":",","CSV Escape String":"\\","CSV Header Definition":null,"Input Content Type":"csv","Pretty Avro Output":"true","CSV Quote String":"'","Number Of Records To Analyze":"10"},"propertyDescriptors":{"Schema Output Destination":{"name":"Schema Output Destination","displayName":"Schema Output Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Get CSV Header Definition From Data":{"name":"Get CSV Header Definition From Data","displayName":"Get CSV Header Definition From Data","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Avro Record Name":{"name":"Avro Record Name","displayName":"Avro Record Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Charset":{"name":"Charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Header Line Skip Count":{"name":"CSV Header Line Skip Count","displayName":"CSV Header Line Skip Count","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV delimiter":{"name":"CSV delimiter","displayName":"CSV delimiter","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Escape String":{"name":"CSV Escape String","displayName":"CSV Escape String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Header Definition":{"name":"CSV Header Definition","displayName":"CSV Header Definition","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Input Content Type":{"name":"Input Content Type","displayName":"Input Content Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Pretty Avro Output":{"name":"Pretty Avro Output","displayName":"Pretty Avro Output","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Quote String":{"name":"CSV Quote String","displayName":"CSV Quote String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Number Of Records To Analyze":{"name":"Number Of Records To Analyze","displayName":"Number Of Records To Analyze","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","unsupported content","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"2c001bac-d5a4-4e91-a866-c98bef4a0f52","instanceIdentifier":null,"name":"TotalQueriesAnalyzed","comments":"","position":{"x":-245.02046739084295,"y":1689.2183302346468},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"e1c94dd5-5edb-48bd-a867-6217fb59f8bf","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT count(*) AS 'total_queries' FROM `kevin_talbert_bofa_com_db`.spark_metrics_bulk;","esqlrecord-normalize":"true"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"86400 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"60f14acf-a7d1-4411-838f-ad2f3f928f64","instanceIdentifier":null,"name":"PutEmail","comments":"","position":{"x":438.55111000422585,"y":2544.7028281002363},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":null,"Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"465","SMTP Auth":"true","From":"kevinnifinotification@gmail.com","Include All Attributes In Message":"true","SMTP Hostname":"smtp.gmail.com","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"#{Email Username}","To":"kevinnifinotification@gmail.com","SMTP Password":"#{Email Password}","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"b2852179-20d9-4e81-9ef9-1a172aa5b2e1","instanceIdentifier":null,"name":"TotalQueriesAnalyzed","comments":"","position":{"x":-239.4505872612084,"y":698.2678421982018},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"e1c94dd5-5edb-48bd-a867-6217fb59f8bf","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT count(*) AS 'total_queries' FROM `kevin_talbert_bofa_com_db`.impala_metrics_bulk;","esqlrecord-normalize":"true"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"86400 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"92840ead-ce9e-4eeb-839e-2b85123f6e6b","instanceIdentifier":null,"name":"MaxRequiredMemory","comments":"","position":{"x":-242.54887516183908,"y":1107.919685554773},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"e1c94dd5-5edb-48bd-a867-6217fb59f8bf","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT CAST(MAX(reqd_agg_mem) AS Int) AS 'max_req_memory' FROM `kevin_talbert_bofa_com_db`.impala_metrics_bulk;","esqlrecord-normalize":"true"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"86400 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"42a68ab5-4975-4c41-83fc-568a9facfb30","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"40757415-8b3b-41a0-ba54-4efe457b3634","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b88c369b-d271-454b-bc8b-9830e7d64516","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"6bd4a375-a814-4351-9aec-b999c6313239","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"75662170-2236-4329-8ca9-3d12cc6d25d6","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"41bc56a2-a03b-4e19-b8a2-04f47919d319","type":"FUNNEL","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"c5442d49-582d-48ed-9a15-a2ce8f9f97aa","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c398c670-1d72-4503-9e7f-b5614e68a841","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b49474e2-1bae-459e-baba-79a37676031a","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"46531ab5-a842-4319-aa0d-ac3f4336db59","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"3969ca25-9a62-49fd-bc76-d85324e1a3ef","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"60f14acf-a7d1-4411-838f-ad2f3f928f64","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"b8b537bc-5006-4791-ac1b-909a544b1d92","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"b2852179-20d9-4e81-9ef9-1a172aa5b2e1","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b88c369b-d271-454b-bc8b-9830e7d64516","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"97e4e23a-185a-45c9-b466-aab7a2074894","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"30d3b6eb-422e-41c6-8f2b-bae2fcd5afcb","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"7a6539ba-b0f8-486d-8891-91f9e33f86fb","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"e88b5d28-8697-419b-b036-38b2c927b876","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"960d54fd-98d3-48c0-9dd6-dca2f581a09f","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"83de0e28-4f21-4256-a443-4650e03df337","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"5bea8774-ba55-475a-9b5b-1e844c181ce4","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"20c59425-bc17-4116-b6e7-c0d3d389160a","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"83de0e28-4f21-4256-a443-4650e03df337","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"3602a67d-f15e-4397-b711-7ea968c02e87","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"027f5450-aaf4-411f-975b-9200c8e71a68","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"7a6539ba-b0f8-486d-8891-91f9e33f86fb","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"5653d296-45f4-44e9-9553-ec5adb858593","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"2c001bac-d5a4-4e91-a866-c98bef4a0f52","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"83de0e28-4f21-4256-a443-4650e03df337","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"7bdf0272-b645-4898-a654-1bc9b37c0033","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"92840ead-ce9e-4eeb-839e-2b85123f6e6b","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b88c369b-d271-454b-bc8b-9830e7d64516","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"63a789b0-26a3-40b7-8423-4b7413719997","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"6c1e1661-bd01-460c-8f46-7bfeefc102c6","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b88c369b-d271-454b-bc8b-9830e7d64516","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"e614f547-709e-4bee-8d4f-a28c9b5c1d33","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"b49474e2-1bae-459e-baba-79a37676031a","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"30d3b6eb-422e-41c6-8f2b-bae2fcd5afcb","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"4a25354d-5b6f-44a1-8624-4701698950e4","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"15654238-12ce-4355-a5b1-d76611469449","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"60f14acf-a7d1-4411-838f-ad2f3f928f64","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"9fff24c5-8b38-42d7-83ea-10284efd6a42","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"5e0db886-97aa-4564-88be-a2df6d5235a7","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"027f5450-aaf4-411f-975b-9200c8e71a68","type":"PROCESSOR","groupId":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"}],"labels":[{"identifier":"2e1fb13e-65da-4ca2-ab8f-dbba8f68011d","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-748.3069925308228,"y":-285.3125867843628},"label":"Ideally, this would ingest Impala and Spark Data directly from the CM API, but\nbecause we don't have the Impala and Spark job history on this instance of CM,\nwe simulate this step with the CSV extract I pulled from some Prod clusters we \nare currently running and obfuscated the data for this exercise. Additionally, \nthis would be done for all our clusters, not just the production ones, and would \nhave correlated inputs for these cluster's as well. ","zIndex":null,"width":464.0,"height":136.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"3de245f7-788d-4497-81dc-9360e02a891c","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":32.76271665906643,"y":650.7309651818043},"label":"IMPALA PROCESSING - Store to Iceberg Table","zIndex":null,"width":376.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"e6032fe8-b22e-4343-a020-93f282d486ba","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":42.379876660798175,"y":1638.092509993615},"label":"SPARK PROCESSING - Store to Iceberg Table","zIndex":null,"width":312.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"9df5722f-d433-4c5e-88e1-48be549ab574","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-635.4103359668674,"y":704.663076207206},"label":"Read over Iceberg table to determine recommendation \nof virtual warehouse size for Impala and maximum \nmemory and vcores needed for Spark job.\n\nThis exercise will have much more SQL calculations when \nwe productionize the use case; however, this gives a good\nbreadth of the important data we are gathering to fill as inputs\ninto our sizing calculator, and in fact, most recommendations\nto the business could be made from this data gathered.","zIndex":null,"width":376.0,"height":152.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"db8bc005-1832-4f79-b294-f70c29eb0397","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-1127.6985895983985,"y":438.877785101574},"label":"WORK AREA\nThis allows us to infer schema of the csvs \nto appropriately create the iceberg table needed.","zIndex":null,"width":288.0,"height":72.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"cb87a625-f82b-4010-b98a-0c09185c173d","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":51.328778423614494,"y":2364.740749945191},"label":"EMAIL NOTIFICATION - Send results over email","zIndex":null,"width":312.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"df6548a7-f458-48fb-bb5e-9b11fecf2f67","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-742.703638523973,"y":-621.2711144015661},"label":"SQL TABLES SETUP\n\nCREATE TABLE impala_metrics_bulk\n(query_id string,pool string,start_time TIMESTAMP,end_time TIMESTAMP,duration_millis int,reqd_cache_gb float,min_exec_pod_cache int,tsize_cache string,reqd_agg_mem float,min_exec_pod_mem int,tsize_mem string,cpu_time_sec float,query_sla_sec float,reqd_parallelism_cpu int,min_exec_pod_cpu int,tsize_cpu string,memory_spilled_gb float,in_executor_pod_spill int,tsize_spill string,min_executor_pod int,recommended_tsize string,query_type string,admission_wait int,num_backends int)\nSTORED BY ICEBERG;\n\nCREATE TABLE spark_metrics_bulk\n(application_type string, application_id string, user string, allocated_memory_seconds int, allocated_vcore_seconds int)\nSTORED BY ICEBERG;\n\nCREATE TABLE impala_results_table (id int, total_queries int, total_query_time float, max_req_memory int, max_req_cpu int)\nSTORED BY ICEBERG;\n\nCREATE TABLE spark_results_table (id int, total_queries int, max_req_memory int, max_req_cpu int)\nSTORED BY ICEBERG;","zIndex":null,"width":2752.0,"height":216.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"2bac2187-4ced-4b79-9cba-35a2f79fe388","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-748.6066054872515,"y":79.75462985990112},"label":"Output to Iceberg table to operate on and cache (python script \nwill have run a daily job that runs and repopulates the data for a \ngiven month interval). Iceberg tables are utilized to interact with \nthe time travel features available in Impala.","zIndex":null,"width":368.0,"height":88.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"8b3a0a8b-ce5a-45f5-9907-4aaaaf815d67","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":18.508533038618225,"y":-338.1761982632336},"label":"DATA IMPORTS/SCRIPTS","zIndex":null,"width":176.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"1c1cbc65-74da-4541-a798-9a361910fada","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-645.1988261536652,"y":2439.756188544214},"label":"Email notification was chosen for this exercise, though really \nthis would probably be accessed via the Iceberg API for \nour use case and pulled into a web UI for content display.","zIndex":null,"width":368.0,"height":96.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"}],"funnels":[{"identifier":"ed21ae4a-6289-44e3-af65-abd8cc7cd178","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":2418.0318214911595,"y":1468.3204910771408},"componentType":"FUNNEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"41bc56a2-a03b-4e19-b8a2-04f47919d319","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-1012.320068359375,"y":890.1300163269043},"componentType":"FUNNEL","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"}],"controllerServices":[{"identifier":"44a7764a-1938-448f-94af-3fdbf94ed32d","instanceIdentifier":null,"name":"HiveConnectionPool","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.dbcp.hive.HiveConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":null,"Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"8","hive-db-password":"#{CDP Workload User Password}","hive-db-connect-url":"jdbc:hive2://oss-kudu-demo-gateway.oss-demo.qsm5-opic.cloudera.site:443/;ssl=1;transportMode=http;httpPath=oss-kudu-demo/cdp-proxy-api/impala;AuthMech=3;","hive-max-conn-lifetime":"-1","Kerberos Principal":null,"hive-config-resources":null,"hive-max-wait-time":"500 millis","hive-db-user":"kevin.talbert"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hive-max-conn-lifetime":{"name":"hive-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.20.0.2.3.8.2-2"}},{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"2007b14c-6020-4f7f-af60-577e971fe7ef","instanceIdentifier":null,"name":"CSVReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"026a8689-e39e-4e93-a144-f07300d44016","instanceIdentifier":null,"name":"HiveCatalogService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"hadoop-config-resources":"#{CDPEnvironment}","warehouse-location":null,"hive-metastore-uri":null},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"e1c94dd5-5edb-48bd-a867-6217fb59f8bf","instanceIdentifier":null,"name":"AvroRecordSetWriter","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"5997fcfd-bd8e-422e-a36e-e78bde01c9d2","instanceIdentifier":null,"name":"KerberosPasswordUserService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Kerberos Password":"#{CDP Workload User Password}","Kerberos Principal":"#{CDP Workload User}"},"propertyDescriptors":{"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"8feef3ea-03d1-412c-97c6-b8c118f73950","instanceIdentifier":null,"name":"JsonTreeReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"8afaa045-d48f-45a1-8cfe-da5a5d2c174b","instanceIdentifier":null,"name":"AvroReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"f4e78387-134c-4262-9e1e-62335efaba5e","instanceIdentifier":null,"name":"CSVRecordSetWriter","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"},{"identifier":"4f1cf2e5-dab0-404d-b398-b8723ea7a1d9","instanceIdentifier":null,"name":"DBCPConnectionPool Impala Iceberg","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"kerberos-password":null,"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.cloudera.impala.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:impala://oss-kudu-demo-gateway.oss-demo.qsm5-opic.cloudera.site:443/;ssl=1;transportMode=http;httpPath=oss-kudu-demo/cdp-proxy-api/impala;AuthMech=3;","dbcp-time-between-eviction-runs":"-1","Database User":"#{CDP Workload User}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{Database Driver Location}","dbcp-max-idle-conns":"8","Password":"#{CDP Workload User Password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"990f2ca4-f95c-4636-aa1e-4d76638e8ea7"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"kevin_spark_performance","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":null,"parameterProviders":null,"parameterContexts":{"kevin_spark_performance":{"identifier":"a9066c9d-4634-4a1a-bfcc-6465f4b972a0","instanceIdentifier":null,"name":"kevin_spark_performance","comments":null,"position":null,"parameters":[{"name":"CDP Workload User Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"CDP Workload User","description":null,"sensitive":false,"provided":false,"value":"kevin.talbert"},{"name":"Email Username","description":null,"sensitive":false,"provided":false,"value":"kevinnifinotification@gmail.com"},{"name":"Email Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"IMPALA URL","description":null,"sensitive":false,"provided":false,"value":"https://github.com/kevinbtalbert/impala_spark_performance/blob/main/impala_sizing_prod_metrics.csv?raw=true"},{"name":"Database Driver Location","description":"upload a jdbc driver","sensitive":false,"provided":false,"value":null},{"name":"Hive Catalog Namespace","description":null,"sensitive":false,"provided":false,"value":"kevin_talbert_bofa_com_db"},{"name":"SPARK URL","description":null,"sensitive":false,"provided":false,"value":"https://github.com/kevinbtalbert/impala_spark_performance/blob/main/spark_sizing_prod_cluster.csv?raw=true"},{"name":"CDPEnvironment","description":"The CDP Environment configuration resources","sensitive":false,"provided":false,"value":null}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}