finaltutorials/Best in Flow - Flow Definitions/best_in_flow_Ramakrishna_PubSub_to_GCS.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"27b9f8f2-d1d0-4d6a-88e0-d1a7f8635e3b","version":0,"timestamp":1683917777637,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","instanceIdentifier":null,"name":"Ramakrishna_Load_into_DataLake(GCS)","comments":null,"position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"95653a20-2262-4fe8-b4b7-66c54b2fdcc4","instanceIdentifier":null,"name":"PutGCSObject","comments":"","position":{"x":47.84452819824219,"y":1305.407958984375},"type":"org.apache.nifi.processors.gcp.storage.PutGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"gcp-proxy-host":null,"gcs-content-disposition-type":null,"gcp-retry-count":"2","proxy-configuration-service":null,"gcs-server-side-encryption-key":null,"gcs-overwrite-object":"true","gcp-proxy-user-name":null,"gcs-object-md5":null,"gcs-content-type":"${mime.type}","gcs-object-crc32c":null,"gcp-project-id":"pso-bsc","GCP Credentials Provider Service":"1555b9da-ba8b-47bd-8811-30681f2ecf7d","gcs-key":"${filename}","gcp-proxy-user-password":null,"gcp-proxy-port":null,"gcs-bucket":"pso-bsc-temp","gcs-object-acl":null},"propertyDescriptors":{"gcp-proxy-host":{"name":"gcp-proxy-host","displayName":"Proxy host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-content-disposition-type":{"name":"gcs-content-disposition-type","displayName":"Content Disposition Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-retry-count":{"name":"gcp-retry-count","displayName":"Number of retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"gcs-server-side-encryption-key":{"name":"gcs-server-side-encryption-key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"gcs-overwrite-object":{"name":"gcs-overwrite-object","displayName":"Overwrite Object","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-proxy-user-name":{"name":"gcp-proxy-user-name","displayName":"HTTP Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-object-md5":{"name":"gcs-object-md5","displayName":"MD5 Hash","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-content-type":{"name":"gcs-content-type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-object-crc32c":{"name":"gcs-object-crc32c","displayName":"CRC32C Checksum","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"gcs-key":{"name":"gcs-key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-proxy-user-password":{"name":"gcp-proxy-user-password","displayName":"HTTP Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"gcp-proxy-port":{"name":"gcp-proxy-port","displayName":"Proxy port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-bucket":{"name":"gcs-bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-object-acl":{"name":"gcs-object-acl","displayName":"Object ACL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"9a6bb132-0ef3-40f2-89e9-2cc0c0aa74d6","instanceIdentifier":null,"name":"MergeContent","comments":"","position":{"x":70.02266968593904,"y":646.7039523794457},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"1","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"20"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"2750f2cc-96eb-428a-ad16-1a48ed1d56b2","instanceIdentifier":null,"name":"ConsumeGCPubSub","comments":"","position":{"x":90.0,"y":85.5},"type":"org.apache.nifi.processors.gcp.pubsub.ConsumeGCPubSub","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"GCP Credentials Provider Service":"1555b9da-ba8b-47bd-8811-30681f2ecf7d","gcp-pubsub-publish-batch-size":"15","gcp-pubsub-subscription":"projects/pso-bsc/subscriptions/nifi.test-sub","proxy-configuration-service":null,"gcp-project-id":"pso-bsc"},"propertyDescriptors":{"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"gcp-pubsub-publish-batch-size":{"name":"gcp-pubsub-publish-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-pubsub-subscription":{"name":"gcp-pubsub-subscription","displayName":"Subscription","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"bef07b0b-c9b4-45df-b485-484639643e1c","instanceIdentifier":null,"name":"ConvertRecord","comments":"","position":{"x":82.05599818678951,"y":363.9209669377636},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"record-writer":"fe7c58d0-677f-4211-868c-da6141a0c3e1","record-reader":"3ae4a781-0899-486e-8092-7fbabcd56dd4","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"857779ec-4909-4cae-ae78-59296b6e2714","instanceIdentifier":null,"name":"LogMessage","comments":"","position":{"x":726.0,"y":327.5},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"log-message":"Failed while executing the flow","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"f8adf655-d861-4371-bca5-e3dc6b956d53","instanceIdentifier":null,"name":"ExecuteScript","comments":"","position":{"x":60.90007019042969,"y":1003.4134521484375},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"from datetime import datetime\nimport random\n\nflowFile = session.get()\nif flowFile != None:\n    # Update single attribute, if the attribute doesn't exist, it will be created\n\t#date_time = now.strftime(\"%Y%m%d%H%M%S\")\n\tran = random.randint(0,9999999)\n\tfname = \"nifi/Library_Collection_Inventory\"+str(ran)+\".csv\"\n\tflowFile = session.putAttribute(flowFile, \"filename\", fname)\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f8cb0dea-6162-44ec-994a-50557ad828ca","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"857779ec-4909-4cae-ae78-59296b6e2714","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"857779ec-4909-4cae-ae78-59296b6e2714","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":1188.0,"y":380.0},{"x":1188.0,"y":450.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"25968ab1-e092-4a5a-becc-3fd1f0008551","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f8adf655-d861-4371-bca5-e3dc6b956d53","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"95653a20-2262-4fe8-b4b7-66c54b2fdcc4","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"8906dad4-31f7-49d3-a714-58ac3bf28728","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"95653a20-2262-4fe8-b4b7-66c54b2fdcc4","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"857779ec-4909-4cae-ae78-59296b6e2714","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"505a54fb-5d7a-4d82-9797-219745349210","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"2750f2cc-96eb-428a-ad16-1a48ed1d56b2","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"bef07b0b-c9b4-45df-b485-484639643e1c","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"63aaa8de-7208-4bc4-90a0-cb2db6f8ce44","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"bef07b0b-c9b4-45df-b485-484639643e1c","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9a6bb132-0ef3-40f2-89e9-2cc0c0aa74d6","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"2e72fd5b-f0a8-4d36-9dd2-b1d2fe9323d7","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9a6bb132-0ef3-40f2-89e9-2cc0c0aa74d6","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"857779ec-4909-4cae-ae78-59296b6e2714","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"24135311-0f4d-46d9-a184-23c4c68010fa","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"95653a20-2262-4fe8-b4b7-66c54b2fdcc4","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"857779ec-4909-4cae-ae78-59296b6e2714","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":883.0111083984375,"y":1376.3662109375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"8253b1e6-fadf-4745-aa61-67ca86d03c61","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f8adf655-d861-4371-bca5-e3dc6b956d53","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"857779ec-4909-4cae-ae78-59296b6e2714","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"0704e0c8-f667-4c56-8a88-2d07bbacad85","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"bef07b0b-c9b4-45df-b485-484639643e1c","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"857779ec-4909-4cae-ae78-59296b6e2714","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"d099b009-599f-4554-bd8f-38b739d903b8","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9a6bb132-0ef3-40f2-89e9-2cc0c0aa74d6","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"f8adf655-d861-4371-bca5-e3dc6b956d53","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"7e24d3ad-556b-400e-8d28-b10e64d7ff16","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9a6bb132-0ef3-40f2-89e9-2cc0c0aa74d6","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"857779ec-4909-4cae-ae78-59296b6e2714","type":"PROCESSOR","groupId":"6af2df0f-d017-4cad-a8fa-155b161b3c1b","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":1112.0096868937508,"y":609.6131151057384}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"}],"labels":[{"identifier":"e8c9ca6c-d011-44d0-80ce-5041aea5407b","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":819.0,"y":144.0},"label":"Load the data from different sources \ninto Google cloud storage data lake","zIndex":null,"width":376.0,"height":112.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"}],"funnels":[],"controllerServices":[{"identifier":"1555b9da-ba8b-47bd-8811-30681f2ecf7d","instanceIdentifier":null,"name":"GCPCredentialsControllerService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"proxy-configuration-service":null,"compute-engine-credentials":"false","application-default-credentials":"false","service-account-json-file":null,"service-account-json":"#{Service Account JSON}"},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"compute-engine-credentials":{"name":"compute-engine-credentials","displayName":"Use Compute Engine Credentials","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"application-default-credentials":{"name":"application-default-credentials","displayName":"Use Application Default Credentials","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"service-account-json-file":{"name":"service-account-json-file","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"service-account-json":{"name":"service-account-json","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"fe7c58d0-677f-4211-868c-da6141a0c3e1","instanceIdentifier":null,"name":"CSVRecordSetWriter","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"},{"identifier":"3ae4a781-0899-486e-8092-7fbabcd56dd4","instanceIdentifier":null,"name":"CSVReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":"|","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6af2df0f-d017-4cad-a8fa-155b161b3c1b"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"Load_into_DataLake(GCS)","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":null,"parameterProviders":null,"parameterContexts":{"Load_into_DataLake(GCS)":{"identifier":"16ead2f0-74c1-4313-8238-50cc8fa4d50d","instanceIdentifier":null,"name":"Load_into_DataLake(GCS)","comments":null,"position":null,"parameters":[{"name":"Service Account JSON","description":null,"sensitive":true,"provided":false,"value":null}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}