finaltutorials/Best in Flow - Flow Definitions/best_in_flow_Ramakrishna_GCS_To_Snowflake.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"b483f8ce-9a93-4d8e-a878-2e7abc5a3793","version":0,"timestamp":1683917667117,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"4add2fe5-0782-40a4-a17b-d198125d85b0","instanceIdentifier":null,"name":"Ramakrishna_GCS_To_Snowflake","comments":null,"position":null,"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c53bb896-812d-4517-8cee-41f8ba5add3b","instanceIdentifier":null,"name":"ListGCSBucket","comments":"","position":{"x":279.31043025598524,"y":118.4288433385384},"type":"org.apache.nifi.processors.gcp.storage.ListGCSBucket","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"gcp-proxy-host":null,"et-initial-listing-target":"all","gcs-use-generations":"false","record-writer":null,"gcp-retry-count":"2","proxy-configuration-service":null,"et-time-window":"3 hours","gcp-proxy-user-name":null,"gcp-project-id":"pso-bsc","GCP Credentials Provider Service":"6278b7c5-ee95-41b0-bcd5-861c430c8004","listing-strategy":"timestamps","gcp-proxy-user-password":null,"et-state-cache":null,"gcp-proxy-port":null,"gcs-bucket":"pso-bsc-temp","gcs-prefix":"nifi/"},"propertyDescriptors":{"gcp-proxy-host":{"name":"gcp-proxy-host","displayName":"Proxy host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-use-generations":{"name":"gcs-use-generations","displayName":"Use Generations","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"gcp-retry-count":{"name":"gcp-retry-count","displayName":"Number of retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-proxy-user-name":{"name":"gcp-proxy-user-name","displayName":"HTTP Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-proxy-user-password":{"name":"gcp-proxy-user-password","displayName":"HTTP Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"gcp-proxy-port":{"name":"gcp-proxy-port","displayName":"Proxy port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-bucket":{"name":"gcs-bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-prefix":{"name":"gcs-prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"100 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"e4b3923b-0689-49af-8c5f-7de97f035704","instanceIdentifier":null,"name":"LogMessage","comments":"","position":{"x":868.1499244682926,"y":665.4687624202954},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"log-message":"Failed while executing flow","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"0db543a4-7d1c-4e0f-a1be-c3e12527f182","instanceIdentifier":null,"name":"LogSuccess","comments":"","position":{"x":1081.3296700670423,"y":1205.5032624109658},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"log-message":"Success","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"01e39918-11eb-44cd-9935-0400ddd79b2d","instanceIdentifier":null,"name":"PutSnowflakeInternalStage","comments":"","position":{"x":257.5514573457025,"y":698.7959269243393},"type":"org.apache.nifi.processors.snowflake.PutSnowflakeInternalStage","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-processors-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema":"PUBLIC","database":"MYDATABASE","internal-stage-type":"table","snowflake-connection-provider":"582d76d2-3b1f-4bf3-9ed5-4fcd88ae85fc","table":"INVENTORY","internal-stage":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database":{"name":"database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"internal-stage-type":{"name":"internal-stage-type","displayName":"Internal Stage Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"snowflake-connection-provider":{"name":"snowflake-connection-provider","displayName":"Snowflake Connection Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table":{"name":"table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"internal-stage":{"name":"internal-stage","displayName":"Stage","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"ac1575b9-6ece-48bd-9360-dcda350aaf87","instanceIdentifier":null,"name":"StartSnowflakeIngest","comments":"","position":{"x":258.37732828878785,"y":958.1214264052869},"type":"org.apache.nifi.processors.snowflake.StartSnowflakeIngest","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-processors-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"ingest-manager-provider":"331931b1-313a-4d36-821b-5b23bc10b919"},"propertyDescriptors":{"ingest-manager-provider":{"name":"ingest-manager-provider","displayName":"Ingest Manager Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"b14fc9ea-909f-4e3a-97a9-4489e8c9e5ec","instanceIdentifier":null,"name":"GetSnowflakeIngestStatus","comments":"","position":{"x":257.8743527757153,"y":1249.1890829670672},"type":"org.apache.nifi.processors.snowflake.GetSnowflakeIngestStatus","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-processors-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"ingest-manager-provider":"331931b1-313a-4d36-821b-5b23bc10b919"},"propertyDescriptors":{"ingest-manager-provider":{"name":"ingest-manager-provider","displayName":"Ingest Manager Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"5 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"bb17cad3-17ea-4ce5-8d54-536f75730295","instanceIdentifier":null,"name":"FetchGCSObject","comments":"","position":{"x":268.2140808105469,"y":402.0169677734375},"type":"org.apache.nifi.processors.gcp.storage.FetchGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"gcp-proxy-host":null,"gcp-retry-count":"2","proxy-configuration-service":null,"gcs-server-side-encryption-key":null,"gcs-object-range-length":null,"gcp-proxy-user-name":null,"gcp-project-id":"pso-bsc","gcs-generation":null,"GCP Credentials Provider Service":"6278b7c5-ee95-41b0-bcd5-861c430c8004","gcs-object-range-start":null,"gcs-key":"${filename}","gcp-proxy-user-password":null,"gcp-proxy-port":null,"gcs-bucket":"pso-bsc-temp"},"propertyDescriptors":{"gcp-proxy-host":{"name":"gcp-proxy-host","displayName":"Proxy host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-retry-count":{"name":"gcp-retry-count","displayName":"Number of retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"gcs-server-side-encryption-key":{"name":"gcs-server-side-encryption-key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"gcs-object-range-length":{"name":"gcs-object-range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-proxy-user-name":{"name":"gcp-proxy-user-name","displayName":"HTTP Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-generation":{"name":"gcs-generation","displayName":"Object Generation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"gcs-object-range-start":{"name":"gcs-object-range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-key":{"name":"gcs-key","displayName":"Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcp-proxy-user-password":{"name":"gcp-proxy-user-password","displayName":"HTTP Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"gcp-proxy-port":{"name":"gcp-proxy-port","displayName":"Proxy port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"gcs-bucket":{"name":"gcs-bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"747047f2-2ec8-4ae3-8d1f-eceac3b1f41a","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"01e39918-11eb-44cd-9935-0400ddd79b2d","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"ac1575b9-6ece-48bd-9360-dcda350aaf87","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"a2da5ffb-091c-4610-a887-fbc4b087b733","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"01e39918-11eb-44cd-9935-0400ddd79b2d","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e4b3923b-0689-49af-8c5f-7de97f035704","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"2e369bed-6163-480d-8f97-71a2a3ab8e46","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"b14fc9ea-909f-4e3a-97a9-4489e8c9e5ec","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"0db543a4-7d1c-4e0f-a1be-c3e12527f182","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"b676176d-3d03-4ef8-a5e5-284aa7287bce","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"0db543a4-7d1c-4e0f-a1be-c3e12527f182","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"0db543a4-7d1c-4e0f-a1be-c3e12527f182","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":1543.3296700670423,"y":1258.0032624109658},{"x":1543.3296700670423,"y":1328.0032624109658}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"67fcee4b-5071-4f43-acba-3322f217e3fb","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"b14fc9ea-909f-4e3a-97a9-4489e8c9e5ec","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e4b3923b-0689-49af-8c5f-7de97f035704","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"4b4d5097-7531-4e18-b471-5de2bf1fe98b","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c53bb896-812d-4517-8cee-41f8ba5add3b","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"bb17cad3-17ea-4ce5-8d54-536f75730295","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"76517c24-b454-4e01-9b26-c998f02fb9fb","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ac1575b9-6ece-48bd-9360-dcda350aaf87","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e4b3923b-0689-49af-8c5f-7de97f035704","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"dff3d9c9-643d-4ff2-ad7e-3e0fadb72929","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"bb17cad3-17ea-4ce5-8d54-536f75730295","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e4b3923b-0689-49af-8c5f-7de97f035704","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"2286c28c-a007-45f4-93ee-8fc5026e0777","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"bb17cad3-17ea-4ce5-8d54-536f75730295","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"01e39918-11eb-44cd-9935-0400ddd79b2d","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"ae5e0433-2de6-486b-ba42-fb738aea86c2","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"e4b3923b-0689-49af-8c5f-7de97f035704","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"0db543a4-7d1c-4e0f-a1be-c3e12527f182","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":1330.1499244682927,"y":717.9687624202954},{"x":1274.5884010307927,"y":1050.0744142757642}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"0cb39c0b-f7ba-4467-83fb-ff696dceb84a","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ac1575b9-6ece-48bd-9360-dcda350aaf87","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b14fc9ea-909f-4e3a-97a9-4489e8c9e5ec","type":"PROCESSOR","groupId":"4add2fe5-0782-40a4-a17b-d198125d85b0","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"}],"labels":[{"identifier":"2a864c5b-1170-4152-a218-9ac1b38a5a86","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":917.9654734426479,"y":227.34979058122133},"label":"This Flow will read the data from Data Lake \n(Google Cloud storage) and load into the snowflake\n data warehousing ","zIndex":null,"width":440.0,"height":216.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"}],"funnels":[],"controllerServices":[{"identifier":"331931b1-313a-4d36-821b-5b23bc10b919","instanceIdentifier":null,"name":"StandardSnowflakeIngestManagerProviderService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.snowflake.service.StandardSnowflakeIngestManagerProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema":"PUBLIC","account-name":null,"account-identifier-format":"full-url","database":"MYDATABASE","cloud-type":null,"user-name":"rksanikommu","private-key-service":"8a99e2a9-7c0c-4efa-9695-f4e29ce950b1","account-locator":null,"pipe":"MYPIPE","host-url":"co88637.us-east4.gcp.snowflakecomputing.com","organization-name":null,"cloud-region":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-name":{"name":"account-name","displayName":"Account Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-identifier-format":{"name":"account-identifier-format","displayName":"Account Identifier Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database":{"name":"database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-type":{"name":"cloud-type","displayName":"Cloud Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"user-name":{"name":"user-name","displayName":"User Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"private-key-service":{"name":"private-key-service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"account-locator":{"name":"account-locator","displayName":"Account Locator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"pipe":{"name":"pipe","displayName":"Pipe","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"host-url":{"name":"host-url","displayName":"Snowflake URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"organization-name":{"name":"organization-name","displayName":"Organization Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-region":{"name":"cloud-region","displayName":"Cloud Region","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.snowflake.SnowflakeIngestManagerProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"8a99e2a9-7c0c-4efa-9695-f4e29ce950b1","instanceIdentifier":null,"name":"StandardPrivateKeyService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.key.service.StandardPrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-key-service-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"key-password":null,"key-file":null,"key":"#{Key}"},"propertyDescriptors":{"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"key-file":{"name":"key-file","displayName":"Key File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"key":{"name":"key","displayName":"Key","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.key.service.api.PrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"6278b7c5-ee95-41b0-bcd5-861c430c8004","instanceIdentifier":null,"name":"GCPCredentialsControllerService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"proxy-configuration-service":null,"compute-engine-credentials":"false","application-default-credentials":"false","service-account-json-file":null,"service-account-json":"#{Service Account JSON}"},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"compute-engine-credentials":{"name":"compute-engine-credentials","displayName":"Use Compute Engine Credentials","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"application-default-credentials":{"name":"application-default-credentials","displayName":"Use Application Default Credentials","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"service-account-json-file":{"name":"service-account-json-file","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"service-account-json":{"name":"service-account-json","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"},{"identifier":"582d76d2-3b1f-4bf3-9ed5-4fcd88ae85fc","instanceIdentifier":null,"name":"SnowflakeComputingConnectionPool","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.snowflake.service.SnowflakeComputingConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema":"PUBLIC","account-name":null,"cloud-type":null,"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","connection-url-format":"full-url","account-locator":null,"proxy-configuration-service":null,"dbcp-min-evictable-idle-time":"30 mins","warehouse":null,"Max Total Connections":"8","cloud-region":null,"database":"MYDATABASE","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:snowflake://co88637.us-east4.gcp.snowflakecomputing.com/","dbcp-time-between-eviction-runs":"-1","Database User":"rksanikommu","dbcp-soft-min-evictable-idle-time":"-1","organization-name":null,"dbcp-max-idle-conns":"8","Password":"#{Password}"},"propertyDescriptors":{"schema":{"name":"schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-name":{"name":"account-name","displayName":"Account Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-type":{"name":"cloud-type","displayName":"Cloud Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"connection-url-format":{"name":"connection-url-format","displayName":"Connection URL Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-locator":{"name":"account-locator","displayName":"Account Locator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"warehouse":{"name":"warehouse","displayName":"Warehouse","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-region":{"name":"cloud-region","displayName":"Cloud Region","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database":{"name":"database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection URL":{"name":"Database Connection URL","displayName":"Snowflake URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database User":{"name":"Database User","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"organization-name":{"name":"organization-name","displayName":"Organization Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.snowflake.SnowflakeConnectionProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-api-nar","version":"1.20.0.2.3.8.2-2"}},{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4add2fe5-0782-40a4-a17b-d198125d85b0"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"Ramakrishna_GCS_To_Snowflake","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":null,"parameterProviders":null,"parameterContexts":{"Ramakrishna_GCS_To_Snowflake":{"identifier":"1c58358f-b461-44fb-b519-67dded49fba8","instanceIdentifier":null,"name":"Ramakrishna_GCS_To_Snowflake","comments":null,"position":null,"parameters":[{"name":"Service Account JSON","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Key","description":null,"sensitive":true,"provided":false,"value":null}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}