finaltutorials/Best in Flow - Flow Definitions/best_in_flow_anaranjo_flight_monitor.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"481a2000-d153-47f3-9b56-4c85f4b2638a","version":0,"timestamp":1683720470804,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c","instanceIdentifier":null,"name":"anaranjo_flights_monitor","comments":null,"position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","instanceIdentifier":null,"name":"Iceberg | Put flight states","comments":"Persist flight states to Apache Iceberg table.","position":{"x":502.63149224977826,"y":144.58072076075564},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2a147f36-3ba4-48f7-b0c1-2c0dcbd9b8b6","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":919.4607425210033,"y":801.9732472329928},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"SUCCESS","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"${iceberg.record.count} records to #{IcebergDB}.#{IcebergTable}.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"56f415b5-0aae-4f21-99c4-d49ab2f78c38"},{"identifier":"c25ed3f8-c60d-470d-b403-38b4daaff959","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":918.4449374659705,"y":595.1885764441039},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure putting flight state to Iceberg.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"56f415b5-0aae-4f21-99c4-d49ab2f78c38"},{"identifier":"e6af2837-5df5-4f67-b65e-8b5c1997826e","instanceIdentifier":null,"name":"Put states","comments":"","position":{"x":245.9251708984375,"y":596.4315643310547},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"maximum-file-size":null,"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","file-format":null,"catalog-service":"135318a5-1e39-47fb-89ef-fb993ef70d29","record-reader":"6288622b-9dc5-4eea-8050-52b3bbad0fa2","table-name":"#{IcebergTable}","kerberos-user-service":"f6e604dd-d54a-438b-9dc4-80527cca71db","minimum-commit-wait-time":"100 ms","catalog-namespace":"#{IcebergDB}"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"56f415b5-0aae-4f21-99c4-d49ab2f78c38"}],"inputPorts":[{"identifier":"8ab6aa4b-6a28-43d9-b4fe-c4177a4e0d3c","instanceIdentifier":null,"name":"states","comments":null,"position":{"x":278.68011474609375,"y":395.81346893310547},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"INPUT_PORT","groupIdentifier":"56f415b5-0aae-4f21-99c4-d49ab2f78c38"}],"outputPorts":[{"identifier":"61649544-7e56-401c-ae55-d4bf033ddf13","instanceIdentifier":null,"name":"notifications","comments":null,"position":{"x":1599.1749161389446,"y":645.7401394923768},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"OUTPUT_PORT","groupIdentifier":"56f415b5-0aae-4f21-99c4-d49ab2f78c38"}],"connections":[{"identifier":"659d8e2b-2406-4f17-b984-0fdb80c6ea0f","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"e6af2837-5df5-4f67-b65e-8b5c1997826e","type":"PROCESSOR","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c25ed3f8-c60d-470d-b403-38b4daaff959","type":"PROCESSOR","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56f415b5-0aae-4f21-99c4-d49ab2f78c38"},{"identifier":"ebd6dda0-d789-4dad-bca8-385dfa121b87","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"8ab6aa4b-6a28-43d9-b4fe-c4177a4e0d3c","type":"INPUT_PORT","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e6af2837-5df5-4f67-b65e-8b5c1997826e","type":"PROCESSOR","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56f415b5-0aae-4f21-99c4-d49ab2f78c38"},{"identifier":"184ded08-dbbc-45ec-bc0a-97a02848a22d","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c25ed3f8-c60d-470d-b403-38b4daaff959","type":"PROCESSOR","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"61649544-7e56-401c-ae55-d4bf033ddf13","type":"OUTPUT_PORT","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56f415b5-0aae-4f21-99c4-d49ab2f78c38"},{"identifier":"9df27ca4-9a75-4a8f-ae3f-6d1caafaa1d2","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"2a147f36-3ba4-48f7-b0c1-2c0dcbd9b8b6","type":"PROCESSOR","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"61649544-7e56-401c-ae55-d4bf033ddf13","type":"OUTPUT_PORT","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56f415b5-0aae-4f21-99c4-d49ab2f78c38"},{"identifier":"353fd049-a3eb-4df3-9b4e-131e79538067","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"e6af2837-5df5-4f67-b65e-8b5c1997826e","type":"PROCESSOR","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"2a147f36-3ba4-48f7-b0c1-2c0dcbd9b8b6","type":"PROCESSOR","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"56f415b5-0aae-4f21-99c4-d49ab2f78c38"}],"labels":[],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"anaranjo_test","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"d4278389-185a-4e68-8daf-293d8e9c41c3","instanceIdentifier":null,"name":"OpenSky | Get flights state","comments":"Get flights state from OpenSky API and transform to JSON objects.","position":{"x":-267.1314951775835,"y":-229.16232876016966},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f07af453-5a0d-43b0-9060-862a97d23f26","instanceIdentifier":null,"name":"Clean response attributes","comments":"","position":{"x":104.82168259366341,"y":348.5138405902217},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":"^((?!uuid)(?!filename)(?!mime.type).)*$","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"babb80fc-da45-4ce2-8d33-ed03d71aa342","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":752.7022974922425,"y":1209.5422651132806},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure merging states as JSON array.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"9dc317a5-aa2e-42ad-9ca7-bb2c2d063fac","instanceIdentifier":null,"name":"Split states","comments":"","position":{"x":104.58767700195312,"y":569.6522178649902},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.states[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"f36e7e93-879c-480e-84c8-04047635886e","instanceIdentifier":null,"name":"Built state json record","comments":"","position":{"x":103.8302719085217,"y":991.6236505807524},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"true","Attributes List":"icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source,category","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"86382358-ffad-4740-9a77-24858ef7b939","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":752.7023242295159,"y":997.570349959818},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure transforming state attributes to JSON object.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"d93c7213-5d4d-4397-ae42-7e3d8fedca9d","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":753.9565951756339,"y":776.8186147884513},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"There is unmatched attributes for state data.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"fe97cb40-c185-4095-b059-727b6cebf184","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":745.1765968344823,"y":571.1179953342546},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure loading state attributes.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"af12afa2-b45a-4d1f-b3a7-d5f71d154370","instanceIdentifier":null,"name":"Load state attributes","comments":"","position":{"x":105.02070617675781,"y":775.971492767334},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","icao24":"$.[0]","callsign":"$.[1]","origin_country":"$.[2]","time_position":"$.[3]","last_contact":"$.[4]","longitude":"$.[5]","latitude":"$.[6]","baro_altitude":"$.[7]","on_ground":"$.[8]","velocity":"$.[9]","true_track":"$.[10]","vertical_rate":"$.[11]","geo_altitude":"$.[13]","squawk":"$.[14]","sensors":"$.[12]","spi":"$.[15]","position_source":"$.[16]","category":"$.[17]"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"a9a9fcd5-d79c-4496-9fb0-d73c29b8920e","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":746.4309359008414,"y":349.1120862769567},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure spliting states.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"d95ae340-0236-44db-88f0-48674d5b08c2","instanceIdentifier":null,"name":"Merge states","comments":"","position":{"x":102.66499227982013,"y":1210.7258360010164},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"07060071-6ca0-4849-871a-4b2bd3d19407","merge-strategy":"Defragment","record-reader":"8612f679-f1bf-43d3-8a9b-3e323ac04207","max-records":"1000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"a7c58cfa-9c26-41d9-8fbf-7b9c4e6ce4f3","instanceIdentifier":null,"name":"Get states from OpenSky API","comments":"","position":{"x":103.10758972167969,"y":135.8701629638672},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Basic Authentication Password":null,"cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{OpenSkyExtendedAPIEndpoint}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","invokehttp-proxy-password":null,"ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"10 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"9c7ec405-6138-4109-af1f-ff5501a121ba","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":755.2108545056967,"y":1419.005503887854},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"SUCCESS","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Transformed ${fragment.count} fligth states to JSON.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"f83d728d-591e-4ce5-a51b-9ec6a2827837","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":747.6851921265071,"y":137.14021507849418},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"event_type":"ERROR","event_message":"Failure while getting the states from #{OpenSkyExtendedAPIEndpoint}.","event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"}],"inputPorts":[],"outputPorts":[{"identifier":"c77df2bb-aab7-4078-8cc0-d84696e92c5f","instanceIdentifier":null,"name":"notifications","comments":null,"position":{"x":1753.8779907226562,"y":838.0435180664062},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"OUTPUT_PORT","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"4d769444-000b-4429-90c5-728879d890d5","instanceIdentifier":null,"name":"success","comments":null,"position":{"x":136.51470947265625,"y":1544.3838500976562},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"OUTPUT_PORT","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"}],"connections":[{"identifier":"2bd40056-81ea-49fc-b536-ce7655ce4abc","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9dc317a5-aa2e-42ad-9ca7-bb2c2d063fac","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"af12afa2-b45a-4d1f-b3a7-d5f71d154370","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":-53.23905944824219,"y":752.5433959960938}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"702fc68b-898e-4836-82b1-3e383c873741","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"af12afa2-b45a-4d1f-b3a7-d5f71d154370","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"fe97cb40-c185-4095-b059-727b6cebf184","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"a39bb9a4-75a8-4417-ac30-b62a33358765","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9dc317a5-aa2e-42ad-9ca7-bb2c2d063fac","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"a9a9fcd5-d79c-4496-9fb0-d73c29b8920e","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"f8f6e027-5a85-4573-a0ac-4e83dbac5a17","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"af12afa2-b45a-4d1f-b3a7-d5f71d154370","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"f36e7e93-879c-480e-84c8-04047635886e","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":-60.059478759765625,"y":958.3541870117188}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"fad88331-9f66-443c-9cd1-c50586e2df6c","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"d95ae340-0236-44db-88f0-48674d5b08c2","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"4d769444-000b-4429-90c5-728879d890d5","type":"OUTPUT_PORT","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"4e5ea34e-4711-451b-967d-0ef3bf766b22","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"fe97cb40-c185-4095-b059-727b6cebf184","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c77df2bb-aab7-4078-8cc0-d84696e92c5f","type":"OUTPUT_PORT","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"20778517-b1dc-4dae-af80-02d7923331d3","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f36e7e93-879c-480e-84c8-04047635886e","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"86382358-ffad-4740-9a77-24858ef7b939","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"9b9d6cc8-9700-4d78-9f89-385109bbecf5","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f83d728d-591e-4ce5-a51b-9ec6a2827837","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c77df2bb-aab7-4078-8cc0-d84696e92c5f","type":"OUTPUT_PORT","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"c17f925e-f1ab-4fcf-b6bb-05ce1c49dfb3","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"86382358-ffad-4740-9a77-24858ef7b939","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c77df2bb-aab7-4078-8cc0-d84696e92c5f","type":"OUTPUT_PORT","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"e3c53b74-925c-430b-8104-9df2c6b72873","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"a9a9fcd5-d79c-4496-9fb0-d73c29b8920e","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c77df2bb-aab7-4078-8cc0-d84696e92c5f","type":"OUTPUT_PORT","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"a951fbb3-d67c-41f0-93ce-8d5221ee7cd1","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"a7c58cfa-9c26-41d9-8fbf-7b9c4e6ce4f3","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"f83d728d-591e-4ce5-a51b-9ec6a2827837","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"1b2d2c62-9822-4bd8-aed0-9da022abb892","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"d95ae340-0236-44db-88f0-48674d5b08c2","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9c7ec405-6138-4109-af1f-ff5501a121ba","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"838316e8-45b8-404d-bf8c-45b315fe854c","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f07af453-5a0d-43b0-9060-862a97d23f26","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9dc317a5-aa2e-42ad-9ca7-bb2c2d063fac","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":-61.29438400268555,"y":548.3800659179688}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"c1843b90-60fd-4b63-8b1a-db86fe6457e7","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9c7ec405-6138-4109-af1f-ff5501a121ba","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c77df2bb-aab7-4078-8cc0-d84696e92c5f","type":"OUTPUT_PORT","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"4697b24e-5a61-427c-b890-9242be7217a5","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"a7c58cfa-9c26-41d9-8fbf-7b9c4e6ce4f3","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"a7c58cfa-9c26-41d9-8fbf-7b9c4e6ce4f3","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":-71.90628051757812,"y":153.28042602539062},{"x":-71.9062271118164,"y":230.02845764160156}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"e7ebf1d6-e331-44af-a0fd-211a3bbf57c8","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"a7c58cfa-9c26-41d9-8fbf-7b9c4e6ce4f3","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"f07af453-5a0d-43b0-9060-862a97d23f26","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":-70.07125091552734,"y":333.47640228271484}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"8fb0156d-ee07-47e8-acb5-e1110d58b16f","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"babb80fc-da45-4ce2-8d33-ed03d71aa342","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c77df2bb-aab7-4078-8cc0-d84696e92c5f","type":"OUTPUT_PORT","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"100ccb78-54dd-4b42-b794-308a1820b45f","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"af12afa2-b45a-4d1f-b3a7-d5f71d154370","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d93c7213-5d4d-4397-ae42-7e3d8fedca9d","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"2f618122-6585-4b20-a026-a4cd4c49ea65","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f36e7e93-879c-480e-84c8-04047635886e","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d95ae340-0236-44db-88f0-48674d5b08c2","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":-54.56108093261719,"y":1186.6663818359375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"1e67c06f-e4e1-4f23-a5a7-c796e2238498","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"d93c7213-5d4d-4397-ae42-7e3d8fedca9d","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c77df2bb-aab7-4078-8cc0-d84696e92c5f","type":"OUTPUT_PORT","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"},{"identifier":"a5d3176c-1dc6-4325-92af-2dc06d2a534f","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"d95ae340-0236-44db-88f0-48674d5b08c2","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"babb80fc-da45-4ce2-8d33-ed03d71aa342","type":"PROCESSOR","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d4278389-185a-4e68-8daf-293d8e9c41c3"}],"labels":[],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"anaranjo_test","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","instanceIdentifier":null,"name":"RadarBox | Enrich flight with aircraft details","comments":"Lookup aircraft details in RadarBox. Batch enrichment not possible due to API throttling.","position":{"x":-259.2832020981316,"y":698.9596491820503},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"15454507-0d60-4599-8bb0-2f9bbb4c7a80","instanceIdentifier":null,"name":"Lookup aircraft details","comments":"","position":{"x":287.0,"y":269.49998474121094},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/aircraft","record-writer":"07060071-6ca0-4849-871a-4b2bd3d19407","record-reader":"8612f679-f1bf-43d3-8a9b-3e323ac04207","lookup-service":"25acf414-b0e8-4548-a771-8711942c89a3","record-update-strategy":"use-property","key":"/icao24"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"30 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"7eb98449-e2a9-4329-870c-6d4e4bf2b646","instanceIdentifier":null,"name":"Clean response json","comments":"","position":{"x":288.16802978515625,"y":474.19984436035156},"type":"org.apache.nifi.processors.jolt.record.JoltTransformRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-record-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"jolt-record-record-writer":"07060071-6ca0-4849-871a-4b2bd3d19407","jolt-record-transform-cache-size":"1","jolt-record-custom-class":null,"jolt-record-custom-modules":null,"jolt-record-transform":"jolt-transform-chain","jolt-record-record-reader":"8612f679-f1bf-43d3-8a9b-3e323ac04207","jolt-record-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"aircraft\": {\n        \"acd\": \"aircraft.model\",\n        \"acr\": \"aircraft.registration\",\n        \"accn\": \"aircraft.serial\",\n        \"act\": \"aircraft.type\"\n      },\n      \"*\": \"&\"\n    }\n  }\n]"},"propertyDescriptors":{"jolt-record-record-writer":{"name":"jolt-record-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"jolt-record-transform-cache-size":{"name":"jolt-record-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"jolt-record-custom-class":{"name":"jolt-record-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"jolt-record-custom-modules":{"name":"jolt-record-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"jolt-record-transform":{"name":"jolt-record-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"jolt-record-record-reader":{"name":"jolt-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"jolt-record-spec":{"name":"jolt-record-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"9d0aea8a-10ec-4937-abf8-288e3674287b","instanceIdentifier":null,"name":"Split flight batch","comments":"The strategy to prevent API throttling is split batch and enrich each record at a time.","position":{"x":288.1255286029859,"y":59.17208649046165},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"a1a463cd-689f-4a08-a3c8-edc5bca83655","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":921.5734252929688,"y":270.41270446777344},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure during flight ${icao24} enrichment using RadarBox API.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"1c82304c-aed3-4dbe-b8f4-be1d7e63ef09","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":921.8182124361613,"y":55.40752765030959},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure splitting batch for aircraft enrichment.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"8b2e4284-6d39-424a-8376-6c945533f092","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":921.8182273007747,"y":474.5231857266507},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure cleaning RadarBox response.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"}],"inputPorts":[{"identifier":"6934c3b1-6154-4fde-ba72-d80d22be11d0","instanceIdentifier":null,"name":"flight","comments":null,"position":{"x":322.2548522949219,"y":-123.8666763305664},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"INPUT_PORT","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"}],"outputPorts":[{"identifier":"b531f4e1-27fd-464f-b6dd-b16b4dcb30bd","instanceIdentifier":null,"name":"enriched","comments":null,"position":{"x":323.0459273783744,"y":796.2004557593189},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"OUTPUT_PORT","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"9c639891-34b8-427f-95d0-0d0ee76ad3d0","instanceIdentifier":null,"name":"notifications","comments":null,"position":{"x":1593.0206002298062,"y":331.0136929928584},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"OUTPUT_PORT","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"}],"connections":[{"identifier":"6a364fac-ad5d-4f0b-a017-777a3f8e63e2","instanceIdentifier":null,"name":"RadarBox_enrichment_failure","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"15454507-0d60-4599-8bb0-2f9bbb4c7a80","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"a1a463cd-689f-4a08-a3c8-edc5bca83655","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"58eb26f4-8341-4f6f-b8e8-773624582c38","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"7eb98449-e2a9-4329-870c-6d4e4bf2b646","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"8b2e4284-6d39-424a-8376-6c945533f092","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"52c1653b-545d-45f8-9b5b-ded8817dd8a5","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"8b2e4284-6d39-424a-8376-6c945533f092","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9c639891-34b8-427f-95d0-0d0ee76ad3d0","type":"OUTPUT_PORT","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"fdc45236-0448-4b79-a8d2-814ddf4fbb1e","instanceIdentifier":null,"name":"input_radarbox_queue","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9d0aea8a-10ec-4937-abf8-288e3674287b","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"15454507-0d60-4599-8bb0-2f9bbb4c7a80","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":112.86786651611328,"y":254.58804321289062}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"0b20f6ca-41fa-4018-90fc-c377d38e9020","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"7eb98449-e2a9-4329-870c-6d4e4bf2b646","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b531f4e1-27fd-464f-b6dd-b16b4dcb30bd","type":"OUTPUT_PORT","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"5e3d995c-5954-467a-bdfb-9fd9a5d21f22","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9d0aea8a-10ec-4937-abf8-288e3674287b","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"1c82304c-aed3-4dbe-b8f4-be1d7e63ef09","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"7a6a73ed-0ac2-4095-9af4-0e33b6c2594e","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"1c82304c-aed3-4dbe-b8f4-be1d7e63ef09","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9c639891-34b8-427f-95d0-0d0ee76ad3d0","type":"OUTPUT_PORT","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"83bd8960-a0f9-49c8-ba54-54f45b33c903","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"15454507-0d60-4599-8bb0-2f9bbb4c7a80","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"7eb98449-e2a9-4329-870c-6d4e4bf2b646","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":117.88723754882812,"y":458.1226806640625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"10aa9125-d4fd-4fdd-842d-cec8f3984842","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"a1a463cd-689f-4a08-a3c8-edc5bca83655","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9c639891-34b8-427f-95d0-0d0ee76ad3d0","type":"OUTPUT_PORT","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"},{"identifier":"8c4fc762-41be-4f65-9085-f49171475d09","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"6934c3b1-6154-4fde-ba72-d80d22be11d0","type":"INPUT_PORT","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9d0aea8a-10ec-4937-abf8-288e3674287b","type":"PROCESSOR","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1"}],"labels":[],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"anaranjo_test","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f","instanceIdentifier":null,"name":"OpenSky | Basic flights enrichment","comments":"Enrich flights with category and position source descriptions using key/value pair lookup services.","position":{"x":-265.7430181503296,"y":141.3449296951294},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8626f744-85e9-4519-8e2d-4f32d3f51b77","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":974.5297915634006,"y":363.45330177848575},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure during category enrichment.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"9af06884-253f-44a1-a8b1-2b145b34eb9b","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":975.6922266418865,"y":573.8725433336188},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure during position source enrichment.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"c0b38632-0bbb-444e-9cdc-a951b9974454","instanceIdentifier":null,"name":"Category enrichment","comments":"","position":{"x":335.1666209579403,"y":361.05420701787455},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/category_desc","record-writer":"07060071-6ca0-4849-871a-4b2bd3d19407","record-reader":"8612f679-f1bf-43d3-8a9b-3e323ac04207","lookup-service":"ba1f7ac2-6a27-41e9-9249-88424a15d844","record-update-strategy":"use-property","key":"/category"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"e230a1db-0c72-474f-af0d-ff5d6435241a","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":974.733113972366,"y":783.4056811867226},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure adjusting json fields types.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"ed285b3a-c2a9-4801-acc7-4a31bdcc4b7e","instanceIdentifier":null,"name":"Position source enrichment","comments":"","position":{"x":335.54722020615486,"y":570.9383345420797},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/position_source_desc","record-writer":"07060071-6ca0-4849-871a-4b2bd3d19407","record-reader":"8612f679-f1bf-43d3-8a9b-3e323ac04207","lookup-service":"e4ea84e1-eeb3-4b45-9542-1bbd93fffb09","record-update-strategy":"use-property","key":"/position_source"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"f5d8ff4c-ac48-4d1d-8340-3cec33733e89","instanceIdentifier":null,"name":"Fix fields type and json structure","comments":"","position":{"x":335.434348347535,"y":783.0667232245144},"type":"org.apache.nifi.processors.jolt.record.JoltTransformRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-record-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"jolt-record-record-writer":"07060071-6ca0-4849-871a-4b2bd3d19407","jolt-record-transform-cache-size":"1","jolt-record-custom-class":null,"jolt-record-custom-modules":null,"jolt-record-transform":"jolt-transform-chain","jolt-record-record-reader":"8612f679-f1bf-43d3-8a9b-3e323ac04207","jolt-record-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"category\": \"category.code\",\n      \"category_desc\": \"category.description\",\n      \"position_source\": \"position_source.code\",\n      \"position_source_desc\": \"position_source.description\",\n      \"geo_altitude\": \"geo.altitude\",\n      \"baro_altitude\": \"geo.baro_altitude\",\n      \"latitude\": \"geo.latitude\",\n      \"longitude\": \"geo.longitude\",\n      \"vertical_rate\": \"geo.vertical_rate\",\n      \"true_track\": \"geo.true_track\",\n      \"*\": \"&\"\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"callsign\": \"=trim\",\n      \"geo\": {\n        \"altitude\": [\"=toDouble\", 0],\n        \"baro_altitude\": [\"=toDouble\", 0],\n        \"latitude\": [\"=toDouble\", 0],\n        \"longitude\": [\"=toDouble\", 0],\n        \"vertical_rate\": [\"=toDouble\", 0],\n        \"true_track\": [\"=toDouble\", 0]\n      },\n      \"velocity\": [\"=toDouble\", 0],\n      \"time_position\": [\"=toInteger\", 0],\n      \"last_contact\": [\"=toInteger\", 0],\n      \"spi\": [\"=toBoolean\", false],\n      \"on_ground\": [\"=toBoolean\", false]\n    }\n  }\n]"},"propertyDescriptors":{"jolt-record-record-writer":{"name":"jolt-record-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"jolt-record-transform-cache-size":{"name":"jolt-record-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"jolt-record-custom-class":{"name":"jolt-record-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"jolt-record-custom-modules":{"name":"jolt-record-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"jolt-record-transform":{"name":"jolt-record-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"jolt-record-record-reader":{"name":"jolt-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"jolt-record-spec":{"name":"jolt-record-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"}],"inputPorts":[{"identifier":"222f0462-a414-4098-abe6-2c4e70bcff49","instanceIdentifier":null,"name":"states","comments":null,"position":{"x":369.905517578125,"y":159.18894958496094},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"INPUT_PORT","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"}],"outputPorts":[{"identifier":"bb3c3203-1a4d-4bac-8106-9ee76929b160","instanceIdentifier":null,"name":"enriched","comments":null,"position":{"x":372.25048828125,"y":1109.3742065429688},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"OUTPUT_PORT","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"af438f04-c672-4521-8db5-f9379a6afba1","instanceIdentifier":null,"name":"notifications","comments":null,"position":{"x":1829.6044921875,"y":627.3850708007812},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"OUTPUT_PORT","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"}],"connections":[{"identifier":"566ed875-3e3c-4ca9-8bbb-3f17b9ad4f9d","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"222f0462-a414-4098-abe6-2c4e70bcff49","type":"INPUT_PORT","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c0b38632-0bbb-444e-9cdc-a951b9974454","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"0dbbd00d-e73c-4b66-974b-4e19518f7cb0","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c0b38632-0bbb-444e-9cdc-a951b9974454","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"ed285b3a-c2a9-4801-acc7-4a31bdcc4b7e","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":165.13836669921875,"y":553.6959838867188}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"ab9ec740-76c1-4eed-845a-e40346e514e5","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"8626f744-85e9-4519-8e2d-4f32d3f51b77","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"af438f04-c672-4521-8db5-f9379a6afba1","type":"OUTPUT_PORT","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"2180e8ea-36ae-4560-bfd5-a88da3aa008a","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9af06884-253f-44a1-a8b1-2b145b34eb9b","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"af438f04-c672-4521-8db5-f9379a6afba1","type":"OUTPUT_PORT","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"a8bfd9ab-c5ab-4fc9-bba3-287e4861a1cd","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ed285b3a-c2a9-4801-acc7-4a31bdcc4b7e","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"f5d8ff4c-ac48-4d1d-8340-3cec33733e89","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":165.13836669921875,"y":763.8858032226562}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"3ac85385-c0bb-45c8-b3bc-0e3dc166a5e8","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c0b38632-0bbb-444e-9cdc-a951b9974454","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"8626f744-85e9-4519-8e2d-4f32d3f51b77","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"becbd05a-19d2-44a3-ae4d-14bb33cf4faf","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f5d8ff4c-ac48-4d1d-8340-3cec33733e89","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"bb3c3203-1a4d-4bac-8106-9ee76929b160","type":"OUTPUT_PORT","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"5b4f3e07-dd86-4bee-9fd8-a76415d8e29b","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f5d8ff4c-ac48-4d1d-8340-3cec33733e89","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e230a1db-0c72-474f-af0d-ff5d6435241a","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"f9961c5d-f3aa-4e88-9ad9-8e1b0d0e6dd9","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"e230a1db-0c72-474f-af0d-ff5d6435241a","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"af438f04-c672-4521-8db5-f9379a6afba1","type":"OUTPUT_PORT","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"},{"identifier":"0dfeaa66-6a89-4d8e-9573-7e94c66f59a0","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ed285b3a-c2a9-4801-acc7-4a31bdcc4b7e","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9af06884-253f-44a1-a8b1-2b145b34eb9b","type":"PROCESSOR","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b4cb1c83-0529-47f8-bb05-63373dfc088f"}],"labels":[],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"anaranjo_test","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","instanceIdentifier":null,"name":"Notification | Publish to Kafka","comments":"Publish notifications to Kafka topic as JSON objects.","position":{"x":1242.3561172485352,"y":486.9677314758301},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"64ef2fde-36f9-472f-b592-dc6aaf2063b3","instanceIdentifier":null,"name":"PublishKafka2RecordCDP","comments":"","position":{"x":294.1105651855469,"y":583.5000305175781},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.8.2-2"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"1579b7ca-9c37-4827-bc3e-f0b561f100eb","bootstrap.servers":"#{KafkaBrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"e809d67d-7971-4ed8-a3a2-b68d494fe169","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{WorkloadUsername}","use-transactions":"false","acks":"1","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"c862fdb2-602f-4e14-962e-96152c5c1d36","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{KafkaNotificationTopic}","sasl.password":"#{WorkloadPassword}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1"},{"identifier":"735efaad-9724-4a0a-b720-3f3681cf1463","instanceIdentifier":null,"name":"Generate test notification","comments":"","position":{"x":-398.7870926774143,"y":256.4529070104578},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"event_type":"ERROR","generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","event_message":"Test event ${UUID()}.","event_timestamp":"${now():toNumber()}","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1"},{"identifier":"fc8b2472-6322-44ef-8e1a-e74e1df96cc5","instanceIdentifier":null,"name":"Log failure","comments":"","position":{"x":989.3651123046875,"y":397.795654296875},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"log-message":"${event_message}","log-level":"error","log-prefix":"anaranjo"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1"},{"identifier":"e8a1f106-3282-4fe6-b638-7cf31a0e480d","instanceIdentifier":null,"name":"Prepare notification JSON","comments":"","position":{"x":292.12183604941725,"y":254.0827685443661},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"event_type\" : \"${event_type}\",\n  \"event_message\" : \"${event_message}\",\n  \"event_timestamp\" : ${event_timestamp}\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1"}],"inputPorts":[{"identifier":"d10db1d8-ccc7-466b-add8-ecd2ee29cf61","instanceIdentifier":null,"name":"events","comments":null,"position":{"x":324.0,"y":57.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"INPUT_PORT","groupIdentifier":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1"}],"outputPorts":[],"connections":[{"identifier":"9dd48f42-e9f8-4471-88a4-64bd95017875","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"d10db1d8-ccc7-466b-add8-ecd2ee29cf61","type":"INPUT_PORT","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e8a1f106-3282-4fe6-b638-7cf31a0e480d","type":"PROCESSOR","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1"},{"identifier":"4d6ed22e-3112-4d20-999a-f7dcaf2504f1","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"64ef2fde-36f9-472f-b592-dc6aaf2063b3","type":"PROCESSOR","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"fc8b2472-6322-44ef-8e1a-e74e1df96cc5","type":"PROCESSOR","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1"},{"identifier":"91b3dfd7-f86f-43b8-8e78-dd38211c9d52","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"e8a1f106-3282-4fe6-b638-7cf31a0e480d","type":"PROCESSOR","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"fc8b2472-6322-44ef-8e1a-e74e1df96cc5","type":"PROCESSOR","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1"},{"identifier":"3b6319bd-0e5d-4739-9b47-b50bed183f10","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"e8a1f106-3282-4fe6-b638-7cf31a0e480d","type":"PROCESSOR","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"64ef2fde-36f9-472f-b592-dc6aaf2063b3","type":"PROCESSOR","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1"}],"labels":[{"identifier":"329cd2fc-f9f0-42a3-abf6-6a34fdf069d3","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-405.9287718296398,"y":232.0299397057935},"label":"Only for debugging purposes.","zIndex":null,"width":320.0,"height":208.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1"}],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"anaranjo_test","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"5932169d-ba03-415c-9c3b-e9ee576f7a26","instanceIdentifier":null,"name":"Alert | Publish to Kafka","comments":"Emit alerts in Kafka topics when a SPI or UAV are in air space.","position":{"x":-255.9481017855619,"y":1074.1878919170558},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"95d7861c-a544-4d27-b031-0ffae3cf436a","instanceIdentifier":null,"name":"Log failure","comments":"","position":{"x":294.5192565917969,"y":746.6844787597656},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"log-message":"Failure emiting SPI/UAV alerts.","log-level":"error","log-prefix":"anaranjo"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5932169d-ba03-415c-9c3b-e9ee576f7a26"},{"identifier":"ae776a60-9117-488b-b7dc-caa94e4f2a1d","instanceIdentifier":null,"name":"PublishKafka2RecordCDP","comments":"","position":{"x":297.0424499511719,"y":397.3282165527344},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.8.2-2"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"07060071-6ca0-4849-871a-4b2bd3d19407","bootstrap.servers":"#{KafkaBrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"8612f679-f1bf-43d3-8a9b-3e323ac04207","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{WorkloadUsername}","use-transactions":"false","acks":"1","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"c862fdb2-602f-4e14-962e-96152c5c1d36","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{KafkaAlertTopicPrefix}${QueryRecord.Route}","sasl.password":"#{WorkloadPassword}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5932169d-ba03-415c-9c3b-e9ee576f7a26"}],"inputPorts":[{"identifier":"bb30bc99-8777-4a3a-a3df-1f4b3adfca79","instanceIdentifier":null,"name":"alerts","comments":null,"position":{"x":332.7955017089844,"y":190.39868927001953},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"INPUT_PORT","groupIdentifier":"5932169d-ba03-415c-9c3b-e9ee576f7a26"}],"outputPorts":[],"connections":[{"identifier":"6c80c6c5-973c-4b9e-9d26-3ef116f189d7","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"bb30bc99-8777-4a3a-a3df-1f4b3adfca79","type":"INPUT_PORT","groupId":"5932169d-ba03-415c-9c3b-e9ee576f7a26","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"ae776a60-9117-488b-b7dc-caa94e4f2a1d","type":"PROCESSOR","groupId":"5932169d-ba03-415c-9c3b-e9ee576f7a26","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5932169d-ba03-415c-9c3b-e9ee576f7a26"},{"identifier":"e1b31ff8-b970-4144-95ec-a192dd9aead5","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ae776a60-9117-488b-b7dc-caa94e4f2a1d","type":"PROCESSOR","groupId":"5932169d-ba03-415c-9c3b-e9ee576f7a26","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"95d7861c-a544-4d27-b031-0ffae3cf436a","type":"PROCESSOR","groupId":"5932169d-ba03-415c-9c3b-e9ee576f7a26","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5932169d-ba03-415c-9c3b-e9ee576f7a26"}],"labels":[],"funnels":[],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"anaranjo_test","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"}],"remoteProcessGroups":[],"processors":[{"identifier":"ff9281db-9958-4558-9178-dc5a649b3655","instanceIdentifier":null,"name":"OpenSky | Filter flights","comments":"Filter to only SPI or UAV flights.","position":{"x":-229.04168796539307,"y":488.02128982543945},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"07060071-6ca0-4849-871a-4b2bd3d19407","record-reader":"8612f679-f1bf-43d3-8a9b-3e323ac04207","include-zero-record-flowfiles":"false","dbf-default-scale":"0","spi":"#{SPIQuery}","uav":"#{UAVQuery}"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"5a62f3a1-415e-4b67-8c6a-cb2356771029","instanceIdentifier":null,"name":"Notification | Prepare","comments":"","position":{"x":573.0564581593239,"y":489.3470796419356},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"event_type":"ERROR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","event_message":"Failure cleaning RadarBox response.","Stateful Variables Initial Value":null,"event_timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"813377bc-3562-4064-ab93-c1f0e0ebcbba","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"af438f04-c672-4521-8db5-f9379a6afba1","type":"OUTPUT_PORT","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d10db1d8-ccc7-466b-add8-ecd2ee29cf61","type":"INPUT_PORT","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":2,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":168.92349243164062,"y":97.00401306152344},{"x":782.7791137695312,"y":101.38869094848633},{"x":1053.538818359375,"y":148.99606800079346}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"01ff2a38-2364-46fe-9e59-d439684eb67e","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"bb3c3203-1a4d-4bac-8106-9ee76929b160","type":"OUTPUT_PORT","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"ff9281db-9958-4558-9178-dc5a649b3655","type":"PROCESSOR","groupId":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"f2093e48-a76b-4d64-89ba-cbde1368186a","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ff9281db-9958-4558-9178-dc5a649b3655","type":"PROCESSOR","groupId":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"6934c3b1-6154-4fde-ba72-d80d22be11d0","type":"INPUT_PORT","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["uav"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":-477.3817138671875,"y":719.0458984375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"433e2bbd-ad98-4472-9755-d433250cf8ea","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c77df2bb-aab7-4078-8cc0-d84696e92c5f","type":"OUTPUT_PORT","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d10db1d8-ccc7-466b-add8-ecd2ee29cf61","type":"INPUT_PORT","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":1247.34130859375,"y":-131.98316955566406}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"fd8548eb-1dee-4aba-82ae-1841151a9d5a","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"5a62f3a1-415e-4b67-8c6a-cb2356771029","type":"PROCESSOR","groupId":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d10db1d8-ccc7-466b-add8-ecd2ee29cf61","type":"INPUT_PORT","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"cc7777c8-056e-4851-9832-4af05c8f8d2f","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"bb3c3203-1a4d-4bac-8106-9ee76929b160","type":"OUTPUT_PORT","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"8ab6aa4b-6a28-43d9-b4fe-c4177a4e0d3c","type":"INPUT_PORT","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"1f84824f-3b10-4d11-9437-5bb1837578c9","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9c639891-34b8-427f-95d0-0d0ee76ad3d0","type":"OUTPUT_PORT","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d10db1d8-ccc7-466b-add8-ecd2ee29cf61","type":"INPUT_PORT","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":1062.578857421875,"y":800.6424560546875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"f4bde676-aed7-451e-bda4-a1bda5eabafd","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"61649544-7e56-401c-ae55-d4bf033ddf13","type":"OUTPUT_PORT","groupId":"56f415b5-0aae-4f21-99c4-d49ab2f78c38","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d10db1d8-ccc7-466b-add8-ecd2ee29cf61","type":"INPUT_PORT","groupId":"ce5a8442-b69c-4ee1-9a36-77c2d1b9f2f1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"bcac1453-98a0-4e62-9281-19949cea4336","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ff9281db-9958-4558-9178-dc5a649b3655","type":"PROCESSOR","groupId":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"6934c3b1-6154-4fde-ba72-d80d22be11d0","type":"INPUT_PORT","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["spi"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":328.1474304199219,"y":717.9248046875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"9d102f4c-b7e5-4d91-b7bd-6ef3e507ccd1","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ff9281db-9958-4558-9178-dc5a649b3655","type":"PROCESSOR","groupId":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"5a62f3a1-415e-4b67-8c6a-cb2356771029","type":"PROCESSOR","groupId":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"60ad18b6-f7f2-4652-b1b6-0aa91a1ee02f","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"b531f4e1-27fd-464f-b6dd-b16b4dcb30bd","type":"OUTPUT_PORT","groupId":"a6a6a53a-8773-46db-b7b0-ec85fa7327b1","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"bb30bc99-8777-4a3a-a3df-1f4b3adfca79","type":"INPUT_PORT","groupId":"5932169d-ba03-415c-9c3b-e9ee576f7a26","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"a1283c63-601e-4987-837e-3b962fb3047f","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"4d769444-000b-4429-90c5-728879d890d5","type":"OUTPUT_PORT","groupId":"d4278389-185a-4e68-8daf-293d8e9c41c3","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"222f0462-a414-4098-abe6-2c4e70bcff49","type":"INPUT_PORT","groupId":"b4cb1c83-0529-47f8-bb05-63373dfc088f","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"ba1f7ac2-6a27-41e9-9249-88424a15d844","instanceIdentifier":null,"name":"Category_SimpleKeyValueLookupService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"0":"No information at all","1":"No ADS-B Emitter Category Information","2":"Light (< 15500 lbs)","3":"Small (15500 to 75000 lbs)","4":"Large (75000 to 300000 lbs)","5":"High Vortex Large (aircraft such as B-757)","6":"Heavy (> 300000 lbs)","7":"High Performance (> 5g acceleration and 400 kts)","8":"Rotorcraft","9":"Glider / sailplane","10":"Lighter-than-air","11":"Parachutist / Skydiver","12":"Ultralight / hang-glider / paraglider","13":"Reserved","14":"Unmanned Aerial Vehicle","15":"Space / Trans-atmospheric vehicle","16":"Surface Vehicle  Emergency Vehicle","17":"Surface Vehicle  Service Vehicle","18":"Point Obstacle (includes tethered balloons)","19":"Cluster Obstacle","20":"Line Obstacle"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"6288622b-9dc5-4eea-8050-52b3bbad0fa2","instanceIdentifier":null,"name":"StatesToIceberg_JsonTreeReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":"da923b7d-7f87-4822-b81b-c4f6f67abc3c","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n\t\"type\": \"record\",\n\t\"name\": \"flight_state\",\n\t\"namespace\": \"cl.acl.anaranjo\",\n\t\"fields\": [\n\t\t{\n\t\t\t\"name\": \"geo\",\n\t\t\t\"type\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"record\",\n\t\t\t\t\t\"name\": \"geo_flight_state\",\n\t\t\t\t\t\"fields\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"name\": \"altitude\",\n\t\t\t\t\t\t\t\"type\": [\"string\", \"null\"]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"name\": \"latitude\",\n\t\t\t\t\t\t\t\"type\": [\"string\", \"null\"]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"name\": \"true_track\",\n\t\t\t\t\t\t\t\"type\": [\"string\", \"null\"]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"name\": \"baro_altitude\",\n\t\t\t\t\t\t\t\"type\": [\"string\", \"null\"]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"name\": \"vertical_rate\",\n\t\t\t\t\t\t\t\"type\": [\"string\", \"null\"]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"name\": \"longitude\",\n\t\t\t\t\t\t\t\"type\": [\"string\", \"null\"]\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t},\n\t\t\t\t\"null\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"icao24\",\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"velocity\",\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"spi\",\n\t\t\t\"type\": [\"boolean\", \"null\"]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"origin_country\",\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"squawk\",\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"sensors\",\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"time_position\",\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"last_contact\",\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"callsign\",\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"on_ground\",\n\t\t\t\"type\": [\"boolean\", \"null\"]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"category\",\n\t\t\t\"type\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"record\",\n\t\t\t\t\t\"name\": \"category_flight_state\",\n\t\t\t\t\t\"fields\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"name\": \"code\",\n\t\t\t\t\t\t\t\"type\": [\"string\", \"null\"]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"name\": \"description\",\n\t\t\t\t\t\t\t\"type\": [\"string\", \"null\"]\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t},\n\t\t\t\t\"null\"\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"position_source\",\n\t\t\t\"type\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"record\",\n\t\t\t\t\t\"name\": \"position_source_flight_state\",\n\t\t\t\t\t\"fields\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"name\": \"code\",\n\t\t\t\t\t\t\t\"type\": [\"string\", \"null\"]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"name\": \"description\",\n\t\t\t\t\t\t\t\"type\": [\"string\", \"null\"]\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t},\n\t\t\t\t\"null\"\n\t\t\t]\n\t\t}\n\t]\n}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"1579b7ca-9c37-4827-bc3e-f0b561f100eb","instanceIdentifier":null,"name":"Notification_JsonRecordSetWriter","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"#{NotificationSchemaName}","schema-registry":"da923b7d-7f87-4822-b81b-c4f6f67abc3c","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":"2","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"8612f679-f1bf-43d3-8a9b-3e323ac04207","instanceIdentifier":null,"name":"Flight_JsonTreeReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"e4ea84e1-eeb3-4b45-9542-1bbd93fffb09","instanceIdentifier":null,"name":"PositionSource_SimpleKeyValueLookupService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"0":"ADS-B","1":"ASTERIX","2":"MLAT","3":"FLARM"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"da923b7d-7f87-4822-b81b-c4f6f67abc3c","instanceIdentifier":null,"name":"CDPSchemaRegistry","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{WorkloadPassword}","ssl-context-service":"c862fdb2-602f-4e14-962e-96152c5c1d36","cache-size":"1000","basic-auth-password":null,"kerberos-principal":"#{WorkloadUsername}","basic-auth-username":null,"url":"#{SchemaRegistryURL}"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"f6e604dd-d54a-438b-9dc4-80527cca71db","instanceIdentifier":null,"name":"KerberosPasswordUserService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Kerberos Password":"#{WorkloadPassword}","Kerberos Principal":"#{WorkloadUsername}"},"propertyDescriptors":{"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"e809d67d-7971-4ed8-a3a2-b68d494fe169","instanceIdentifier":null,"name":"Notification_JsonTreeReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"25acf414-b0e8-4548-a771-8711942c89a3","instanceIdentifier":null,"name":"RadarBox_RestLookupService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.lookup.RestLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"rest-lookup-record-reader":"8612f679-f1bf-43d3-8a9b-3e323ac04207","rest-lookup-basic-auth-username":null,"rest-lookup-digest-auth":"false","rest-lookup-connection-timeout":"5 secs","rest-lookup-url":"#{RadarBoxAPI}","rest-lookup-ssl-context-service":null,"proxy-configuration-service":null,"rest-lookup-basic-auth-password":null,"rest-lookup-record-path":null,"rest-lookup-read-timeout":"15 secs"},"propertyDescriptors":{"rest-lookup-record-reader":{"name":"rest-lookup-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"rest-lookup-basic-auth-username":{"name":"rest-lookup-basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rest-lookup-digest-auth":{"name":"rest-lookup-digest-auth","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rest-lookup-connection-timeout":{"name":"rest-lookup-connection-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rest-lookup-url":{"name":"rest-lookup-url","displayName":"URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rest-lookup-ssl-context-service":{"name":"rest-lookup-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"rest-lookup-basic-auth-password":{"name":"rest-lookup-basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"rest-lookup-record-path":{"name":"rest-lookup-record-path","displayName":"Record Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rest-lookup-read-timeout":{"name":"rest-lookup-read-timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"135318a5-1e39-47fb-89ef-fb993ef70d29","instanceIdentifier":null,"name":"HiveCatalogService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"hadoop-config-resources":"#{CDPEnvironment}","warehouse-location":null,"hive-metastore-uri":null},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"},{"identifier":"07060071-6ca0-4849-871a-4b2bd3d19407","instanceIdentifier":null,"name":"Flight_JsonRecordSetWriter","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"5add8ed8-a875-4d8f-9bd9-14ecfbc9d62c"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"anaranjo_test","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":{"c862fdb2-602f-4e14-962e-96152c5c1d36":{"identifier":"c862fdb2-602f-4e14-962e-96152c5c1d36","name":"Default NiFi SSL Context Service"}},"parameterProviders":null,"parameterContexts":{"anaranjo_test":{"identifier":"2fa2c154-d51d-4f50-b17b-b739fe78054c","instanceIdentifier":null,"name":"anaranjo_test","comments":null,"position":null,"parameters":[{"name":"SchemaRegistryURL","description":null,"sensitive":false,"provided":false,"value":"https://oss-kafka-demo-master0.oss-demo.qsm5-opic.cloudera.site:7790/api/v1"},{"name":"WorkloadUsername","description":"Workload username.","sensitive":false,"provided":false,"value":"anaranjo"},{"name":"KafkaBrokers","description":"Kafka brokers list.","sensitive":false,"provided":false,"value":"oss-kafka-demo-corebroker0.oss-demo.qsm5-opic.cloudera.site:9093,oss-kafka-demo-corebroker1.oss-demo.qsm5-opic.cloudera.site:9093,oss-kafka-demo-corebroker2.oss-demo.qsm5-opic.cloudera.site:9093"},{"name":"RadarBoxAPI","description":null,"sensitive":false,"provided":false,"value":"https://www.radarbox.com/data/flights/info?type=mode-s&query=${key}"},{"name":"SPIQuery","description":null,"sensitive":false,"provided":false,"value":"SELECT * FROM FLOWFILE WHERE spi=true"},{"name":"CDPEnvironment","description":"The CDP Environment configuration resources","sensitive":false,"provided":false,"value":null},{"name":"KafkaNotificationTopic","description":"Kafka topic to publish flow notifications.","sensitive":false,"provided":false,"value":"anaranjo_notifications"},{"name":"IcebergDB","description":null,"sensitive":false,"provided":false,"value":"anaranjo_acl_cl_db"},{"name":"NotificationSchemaName","description":"Schema name in registry for notification events.","sensitive":false,"provided":false,"value":"anaranjo_notification"},{"name":"KafkaAlertTopicPrefix","description":"Kafka topic to alert about SPI or UAV aircrafts.","sensitive":false,"provided":false,"value":"anaranjo_alert_"},{"name":"IcebergTable","description":null,"sensitive":false,"provided":false,"value":"anaranjo_flights2"},{"name":"UAVQuery","description":null,"sensitive":false,"provided":false,"value":"SELECT * FROM FLOWFILE WHERE RPATH(category, '/code')='14'"},{"name":"WorkloadPassword","description":"Workload password","sensitive":true,"provided":false,"value":null},{"name":"OpenSkyExtendedAPIEndpoint","description":"OpenSky API endpoint to get extended flies states.","sensitive":false,"provided":false,"value":"https://opensky-network.org/api/states/all?extended=1"}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}